/ {  
    keymap: keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "default layer";
            bindings = <
                &kp TAB
            >;
        }; 
        
        fn_layer {
            label = "fn layer";
            bindings = <
                &trans
            >;
        };
    };
};